<h1>Fill the Form as required</h1>

    <form id="FormForm">
    
        <label for="firstname">First Name:</label><br>
        <input type="text" id="firstname" name="firstname" required><br>
        <span id="firstname-error" class="error"></span><br><br><br>

        <label for="secondname">Second Name:</label><br>
        <input type="text" id="secondname" name="secondname" required><br>
        <span id="secondname-error" class="error"></span><br><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <span id="email-error" class="error"></span><br><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <span id="password-error" class="error"></span><br><br><br>

        <label for="education">Education:</label><br>
        <input type="text" id="education" name="education" required><br>
        <span id="education-error" class="error"></span><br><br><br>

        <label for="fathername">Father's Name:</label><br>
        <input type="text" id="fathername" name="fathername"><br>
        <span id="fathername-error" class="error"></span><br><br><br>

        <label for="mothername">Mothers's Name:</label><br>
        <input type="text" id="mothername" name="mothername"><br>
        <span id="mothername-error" class="error"></span><br><br><br>

        <input type="submit" value="Submit">
    </form>

    <div id="result"></div>
